In [26]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.neural_network import MLPClassifier
from sklearn.decomposition import PCA
from sklearn import preprocessing

In [10]:
attr = pd.read_csv("data/HR-Employee-Attrition.csv")
attr.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,0,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,1,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,0,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,0,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [16]:
'''
attr_data = attr.loc[:, attr.columns != 'Attrition']
attr_target = attr.loc[:, attr.columns == 'Attrition']
X,y = attr_data, attr_target
X.shape
X_new = SelectKBest(score_func=chi2, k=4).fit(X,y)
X_new.shape
'''

"\nattr_data = attr.loc[:, attr.columns != 'Attrition']\nattr_target = attr.loc[:, attr.columns == 'Attrition']\nX,y = attr_data, attr_target\nX.shape\nX_new = SelectKBest(score_func=chi2, k=4).fit(X,y)\nX_new.shape\n"

In [31]:
attr_df = pd.DataFrame(attr)
attr_data = pd.get_dummies(attr_df)
attr_scaled = pd.DataFrame(preprocessing.scale(attr_data),columns=attr_data.columns)
pca = PCA(n_components=2)
attr_pca = pca.fit_transform(attr_scaled)
print(pd.DataFrame(pca.components_, columns=attr_scaled.columns, index= ['PC-1','PC-2']))

           Age  Attrition  DailyRate  DistanceFromHome  Education  \
PC-1  0.257996  -0.105360  -0.000274          0.000948   0.070408
PC-2 -0.058850   0.094001  -0.023860          0.013451   0.008148

      EmployeeCount  EmployeeNumber  EnvironmentSatisfaction  HourlyRate  \
PC-1   5.562020e-21       -0.005984                 0.002060   -0.007398
PC-2  -1.229904e-19        0.021073                -0.017845   -0.012648

      JobInvolvement      ...       JobRole_Research Director  \
PC-1        0.003399      ...                        0.150811
PC-2       -0.025615      ...                       -0.111559

      JobRole_Research Scientist  JobRole_Sales Executive  \
PC-1                   -0.145240                 0.061521
PC-2                   -0.171185                 0.418883

      JobRole_Sales Representative  MaritalStatus_Divorced  \
PC-1                     -0.100923                0.022675
PC-2                      0.191493               -0.043184

      MaritalStatus_Married  MaritalStatus_Single  Over18_Y  OverTime_No  \
PC-1               0.048487             -0.072018      -0.0     0.011656
PC-2              -0.001506              0.040118      -0.0    -0.021221

      OverTime_Yes
PC-1     -0.011656
PC-2      0.021221

[2 rows x 56 columns]

In [32]:
pca.explained_variance_ratio_

array([0.10190242, 0.06658521])